@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');

*,
*::before,
*::after
{
    box-sizing: border-box;
}

:root
{
    --font-style-primary: 'Poiret One', sans-serif;
    --font-style-headings: 'Mea Culpa', cursive;
    --font-style-TJ: 'Playfair Display', serif;
    
    --color-primary: rgb(238, 232, 232);
    --color-primary-nav: wheat;

    --color-primary-dark: #502B0F;
    --color-primary-dark-100: #B7966B;
    --color-primary-dark-400: #946D43;
    --color-black: #000000;
    --color-white: white;

    --nav-bar-h: 5rem;

    --nav-bar-mobile-h: 3.5rem;

    --font-size-200: calc(24px + 0.390625vw);
    --font-size-100: calc(16px + 0.390625vw);
    --font-size-400: calc(48px + 0.390625vw);
    --font-size-600: calc(72px + 0.390625vw);
    --font-size-800: calc(96px + 0.390625vw);
}

html, body
{
    font-family: var(--font-style-primary);
    scroll-behavior: smooth;
    text-align: center;
}

html
{
    overflow: hidden;
    height: 100%;
}


body
{
    overflow: auto;
    height: 100%;
    color: var(--color-primary);
}

a
{
    text-decoration: none;
}
/***************************************/
/***************************************/
/* util common classes */

.display-flex-center-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column
{
    flex-direction: column;
}


.padding-top-nav-h
{
    padding-top: var(--nav-bar-h);
}

.padding-bottom-nav-h
{
    padding-bottom: var(--nav-bar-h);
}

.display-none
{
    display: none;
}

.section-dimension
{
    min-height: 100vh;
    min-height: 100svh;
    width: 100vw;
}

.font-playfair-display
{
    font-family: 'Playfair Display', serif;
}

.font-mea-Culpa
{
    font-family: var(--font-style-headings);
}



/* util common classes end */
/***************************************/
/***************************************/

/***************************************/
/***************************************/
/* Beinning of Navigation bar styles */

#nav-bar-container
{
    position: fixed;
    width: 100%;
    height: var(--nav-bar-h);
    z-index: 100;
    padding: 0 20%;
    justify-content: space-between;
}

#nav-bar-container.nav-bar-bg-colour1
{
    justify-content: center;
}

#nav-bar
{
    font-size: var(--font-size-100);
}


.nav-link
{
    cursor: pointer;
    margin: 2rem;
    transition: transform 100ms ease-in;
    color: var(--color-primary-dark);

}


.nav-link:hover
{
    color: var(--color-primary-dark-400);
    transform: scale(1.1);
}


.nav-bar-bg-colour1
{
    background: none;
    color: var(--color-primary-dark);
}


.nav-bar-bg-colour2
{
    background-color: var(--color-black);
    box-shadow: 0 0 10rem black;
}

.nav-bar-bg-colour2 .nav-link,
.nav-bar-bg-colour3 .nav-link,
.nav-bar-bg-colour4 .nav-link
{
    color: var(--color-primary);
}

.nav-bar-bg-colour2 .nav-link:hover,
.nav-bar-bg-colour3 .nav-link:hover,
.nav-bar-bg-colour4 .nav-link:hover
{
    color: var(--color-primary-dark-100);
    transform: scale(1.1);

}



.nav-bar-bg-colour3
{
    background-color: rgb(104, 80, 104);
    box-shadow: 0 0 10rem black;
    color: var(--color-primary);
}

.nav-bar-bg-colour4
{
    background-color: rgb(36, 68, 15);
    box-shadow: 0 0 10rem black;
    color: var(--color-primary);
}

#company-logo
{
    height: 1.8rem;
    margin-right: 1rem;
}

#company-title
{
    font-size: 1.5rem;
    color: var(--color-primary);
}

#main-logo-link
{
    transition: transform 200ms ease-in;
}

#main-logo-link:hover
{
    height: 2rem;
    cursor: pointer;
    transform: scale(1.1);
}

.close-symbol
{
    display: none;
    cursor: pointer;
    margin: 0 1.5rem;
}

@media (max-width: 35em)
{
    #nav-bar
    {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .nav-link{
        margin: 1rem;
    }


    #main-logo-link
    {
        margin-left: 1.5rem;
    }

    .mobile-nav
    {
        display: flex;
        justify-content: space-between;
        min-width: var(--nav-bar-mobile-h);

    }
    .menu-button
    {
        margin: 1.5rem;
        border: none;
        background: none;
    }


    .menu-button-icon
    {
        filter: invert();
    }


    #nav-bar-container
    {
        position: fixed;
        height: 100%;
        width: 100vw;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;
        display: none;
    }


    #company-logo
    {
        height: 1.5rem;
        margin: 1rem;
    }
    
    #company-title
    {
        font-size: 1rem;
    }

    .main-logo-link-div
    {
        display: flex;
        margin: 1rem 0 3rem 0;
        min-width: 100vw;
        justify-content: space-between;

    }

    #main-logo-link.mobile
    {
        margin-right: 1.5rem;
    }
    
    #main-logo-link.mobile #company-logo
    {
        height: 1.2rem;
        margin: 0.5rem;
    }

    #main-logo-link.mobile #company-logo
    {
        height: 1.2rem;
        margin: 0.5rem;
    }

    .close-symbol
    {
        display: flex;
    }

    .close-img
    {
        filter: invert();
    }
    
    .nav-bar-bg-colour1
    {
        background-color: var(--color-white);
    }
}


/* end of Navigation bar styles */
/***************************************/
/***************************************/


/***************************************/
/* welcome section styles */
/***************************************/


#welcome-section
{

    /* background-color: rgb(114, 99, 86); */
    /* flex-direction: column; */
    background-image: url(./images/hero_bg.png);
    background-attachment: fixed;
    background-size: cover;
    /* background-blend-mode: multiply; */
    background-position: center;
}

#company-logo-main
{
    padding-bottom: 2rem;
    perspective: 1000rem;
}

#company-logo-main-img
{
    height: 20vh;
    height: 20svh;
    min-height: 8rem;
}


.welcome-message
{
    font-size: var(--font-size-800);
    color: var(--color-primary-dark);
    margin-bottom: 2rem;
}


#welcome-sub-message
{
    font-size: var(--font-size-200);
    color: var(--color-primary-dark);
    margin-bottom: 1rem;

}

#welcome-sub-message-know-more
{
    color: antiquewhite;
    margin-bottom: 1rem;
    cursor: pointer;
}

.down-arrow
{
    height: 1rem;
    animation-name: down-arrow;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: top;
}

@keyframes down-arrow {

    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(1.5);
    }
    
}

/***************************************/
/* story section styles */
/***************************************/

#story-section
{
    background-image: url(./images/wallpaper2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.712);
}

.story-descr
{
    color: white;
    width: 60%;
    text-align: center;
    padding-top: 3rem;
}

.section-descr-main
{
    font-size: var(--font-size-600);
    color: var(--color-primary-dark-100)
}

@media (max-width: 35em) {
    .section-descr-main
    {
        font-size: var(--font-size-400);
        padding: 0 1rem 0 1rem;
    }
    .section-description-cont
    {
        padding: 0;
    }
}

#story-title
{
    opacity: 0;
}
#story-title.animate-slide-in
{
    opacity: 1;
}

#story-descr
{
    opacity: 0;
    font-size: var(--font-size-100);
}

#story-descr.animate-slide-in
{
    opacity: 1;
}


/***************************************/
/* why section styles */
/***************************************/

#why-section
{
    background-image: url(./images/hero_green.png);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
}

#why-title
{
    font-size: var(--font-size-600);
    color: var(--color-primary-dark);
    opacity: 0;
    transition: opacity 600ms ease-in;
}

#why-title.appear
{
    opacity: 1;
}

.why-cont
{
    margin-top: 3rem;
}

.why-reason
{
    font-size: var(--font-size-400);
    color: var(--color-primary-dark-100);
    opacity: 0;
    font-weight: 400;
}

.why-reason.appear
{
    animation-name: slide-in-left;
    animation-duration: 1s;
    opacity: 1;
}

@keyframes slide-in-left {
    from{
        transform: translateX(100vw);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


/***************************************/
/* Product section styles */
/***************************************/


#product-section
{
    background-image: url(./images/bg_bggenerator_com.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.section-descr-sub
{
    padding-top: 1rem;
    font-size: var(--font-size-100);
}

.section-description-cont
{
    color: antiquewhite;
    padding-top: 2rem;
    text-align: center;
}


.product-display
{
    width: min(60vw, 100rem);
    overflow: hidden;
    margin-top: 4rem;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.product-inner-scroller
{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    animation-name: horizontal-scroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes horizontal-scroll {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-50%);
    }
}

.product-section-photo-container
{
    padding: 0 3rem;
}

.product-logo
{
    width: 20vw;
}


.animate-parallax
{
    animation: welcome-parallax;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-timeline: scroll();
}

@keyframes welcome-parallax {
    to{
        transform: translateY(-1000px);
    }
}

.opacity-0
{
    opacity: 0;
}

.fade-left
{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.fade-left.appear
{
    opacity: 1;
}

.opacity-1
{
    opacity: 0;
}

.animate-opacity
{
    animation: founder-opacity;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes founder-opacity {
    to {
        opacity: 1;
    }
}


.animate-slide-in
{
    animation: slide-in;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    transform-origin: bottom;
}

@keyframes slide-in {
    from 
    {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/***************************************/
/* Founders section styles */
/***************************************/

.founders-section-photo-container
{
    display: flex;
    padding: 7rem 0 7rem 0;
    align-items: center;
    justify-content: center;
}


.founders-photo
{
    width: clamp(12rem, 5rem + 10vw, 20rem);
    border-radius: 30px;
    box-shadow: 0 0 rgb(248, 248, 248) 1rem;

}


.founder-title
{
    font-size: clamp(1rem, 0.5rem + 5vw, 3rem);
    color: wheat;
}

.founders-bg
{
    background-image: url(./images/generated_bg.jpg);
    background-size: cover;
}

#founders-section
{

    padding-bottom: 7rem;
}

@media (max-width: 35em) {
    .founders-section-photo-container
    {
        flex-direction: column;
        padding: 3rem 0 3rem 0;
    }

    .founders-section-photo-container.right
    {
        flex-direction: column-reverse;
    }

    .founder-details.justify-left,
    .founder-details.justify-right
    {
        margin-top: 1rem;
        justify-content: center;
        align-items: center;
    }

    .section-descr-sub
    {
        padding: 1rem 1.5rem 0 1.5rem;
        font-size: var(--font-size-100);
    }

    #founders-section
    {
        padding-top: 0;
    }
    .section-description-cont
    {
        padding-bottom: 1rem;
    }

}

.founder-descr
{
    color: whitesmoke;
    font-size: clamp(0.5rem, 0.25rem + 2.5vw, 1.5rem);
}

.founder-details
{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.justify-left
{
    justify-content: left;
    align-items: start;
}

.justify-right
{
    align-items: end;
    justify-content: right;
}


/***************************************/
/* footer section styles */
/***************************************/



footer
{
    width: 100%;
    background-image: url(./images/office.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.644);
    background-blend-mode: multiply;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}





.location-container
{

}

#contact-details-container
{
    display: flex;
    padding-top: 3rem;
    justify-content: center;
    align-items: center;
}

.location-container
{
    width: fit-content;
    height: clamp (3rem, 30vw, 30rem);
    box-shadow: 0 0 1rem black;
}

.contact-us
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items:flex-start;
    padding-left: 5rem;
}


.contact-h5
{
    font-size: 3rem;
    color: wheat;
    margin: 0 0 1rem 0;
}

@media (max-width: 35em) {
    #contact-details-container
    {
        flex-direction: column;
    }

    .contact-us
    {
        align-items: center;
        padding: 0;
        margin-top: 2rem;
    }
}

.section-anchor
{
    color: white;
}

.img-style
{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.photo-cont
{
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10rem black;
    position: relative;
    transition: transform 200ms ease-in;
    opacity: 0;
    transition: opacity 300ms ease-in;
    width: clamp(5rem, 80%, 60rem);

}

.photo-cont.appear
{
    opacity: 1;
}

.video-cont
{
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10rem black;
    position: relative;
    transition: transform 200ms ease-in;
    cursor: pointer;
    opacity: 0;
    transition: opacity 300ms ease-in;
    width: clamp(10rem, 80%, 30rem);

}

.video-cont.appear
{
    opacity: 1;
}

#gallery-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/bg_green.png);
    background-size: cover;
    background-attachment: fixed;
}

.caption
{
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    right: 10px;
    font-size: 3rem;
    opacity: 0;
    color: white;
    font-size: 2rem;
    transition: transform 200ms ease-in, opacity 200ms ease-in;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.9822303921568627) 0%, rgba(0,0,0,0) 100%);
}

@media (max-width: 35em) {


    #gallery-section
    {
        padding-top: 0;
    }
}

.photo-cont:hover .caption
{
    opacity: 1;
    cursor: pointer;
}

.photo-cont:hover{
    transform: scale(1.1);
}

.video-cont:hover .caption
{
    opacity: 1;
    cursor: pointer;
}

.video-cont:hover{
    transform: scale(1.1);
}

.video-style
{
    border-radius: 10px;
    box-shadow: 0 0 10rem black;
    width: 100%;
    max-height: 100%;
}

